@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* Everything else goes below */
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

@layer components {
  .bg {
    background-image: url("/images/bg_image.jpg");
    background-size: cover;
    background-position: center center;
  }
}

@layer utilities {
  .font-roboto {
    font-family: "Roboto", sans-serif;
  }
}
